<div class="app-contribuaaqui">
    <div class="container-projeto">
        <h1 class="title">Meu Projeto</h1>
        <img class="zh-mb-32" src="../../../assets/myprojetos.png">
        <p class="sub-title zh-mb-24">Construa um abrigo para gatos conosco!</p>
        <app-progress-bar [percentage]="50"></app-progress-bar>
        <div class="container-valor zh-mt-24">
            <div class="meta">
                <p>Meta</p>
                <span>$2.500</span>
            </div>
            <div class="arrecadado">
                <p>arrecadado</p>
                <span>$3.500</span>
            </div>
        </div>
    </div>
    <div class="container-transacao">
        <div class="historico">
            <h2>Histórico de transações</h2>
            <i class="fa-solid fa-circle-chevron-down"></i>
        </div>
        <ul class="selecao">
            <li>Todos projetos</li>
            <li>organizar</li>
        </ul>
        <div class="card-pagamento">
            <small class="zh-fs-10 zh-mb-8">Hoje</small>
            <ul class="">
                <li><div class="zh-d-flex"><img src="../../../assets/avatar.png" class="zh-me-12"> <p><strong>Sam Murphy </strong> <br> <span>Construa um abrigo para gatos conosco!</span></p> </div><p>$120</p></li>
                <li><div class="zh-d-flex"><img src="../../../assets/avatar.png" class="zh-me-12"> <p><strong>Sam Murphy </strong> <br> <span>Construa um abrigo para gatos conosco!</span></p> </div><p>$120</p></li>
                <li><div class="zh-d-flex"><img src="../../../assets/avatar.png" class="zh-me-12"> <p><strong>Sam Murphy </strong> <br> <span>Construa um abrigo para gatos conosco!</span></p> </div><p>$120</p></li>
                <li><div class="zh-d-flex"><img src="../../../assets/avatar.png" class="zh-me-12"> <p><strong>Sam Murphy </strong> <br> <span>Construa um abrigo para gatos conosco!</span></p> </div><p>$120</p></li>
                <li><div class="zh-d-flex"><img src="../../../assets/avatar.png" class="zh-me-12"> <p><strong>Sam Murphy </strong> <br> <span>Construa um abrigo para gatos conosco!</span></p> </div><p>$120</p></li>
                <li><div class="zh-d-flex"><img src="../../../assets/avatar.png" class="zh-me-12"> <p><strong>Sam Murphy </strong> <br> <span>Construa um abrigo para gatos conosco!</span></p> </div><p>$120</p></li>
            </ul>
            <button class="btn-segundary zh-mt-32">Ver mais</button>
        </div>
        <div class="historico zh-mt-32">
            <h2>Estatistica</h2>
            <i class="fa-solid fa-circle-chevron-down"></i>
        </div>
    </div>
</div>
