
<div class="page">
    <div class="back">
        <img src="./assets/sanduiche.png" width="400" alt="">
    </div>
    <div class="container-descricao">
    <div class="funciona">
        <h3>Ajude-nos a lançar um livro de receitas
            para pais e filhos</h3>
        <div class="organizacao">
            <img src="../../../assets/sanduiche.png">
            <p>Assembleia vila nova</p>
        </div>
        <div class="test">
            <div class="paragrafo">
                <h2 class="about">Sobre o Projeto</h2>
                <p>Queremos criar um livro de culinária bonito e útil para pais e filhos se divertirem na cozinha. A Kid
                    Cooking Organization é especializada na publicação de conteúdo dietético e na divulgação de uma
                    dieta
                    saudável.</p>
                <div id="mensagem"></div>
            </div>
            <div >
                <div class="meta">
                    <span>Meta<br><span class="value">$2.500</span></span>
                    <div class="arrecadado">$3.500</div>
                </div>
                
                
                <div class="porcentagem2  porcentagem3"></div>

                <div>
                   18 dias restantes
                </div>
            </div>

        </div>

    </div>
    <button class="zh-mt-32" id="openModal">Doar oara projeto</button>
    </div>
   <script src="modal.js"></script>
</div>