
<div class="app">
    <h2 class="zh-ms-72">Projetos da semana</h2>
    <div class="box">
        <img src="./assets/projetos-img.png" class="zh-ms-16 " alt="">
        <div class="zh-ms-72 zh-p-24">
            <p class="contribua"><a  routerLink="/projeto">Contribua com as crianças da comunidade</a></p>
            <p class="one">Queremos criar um livro de culinária bonito e útil para pais e filhos se divertirem na
                cozinha.</p>
                <div class="porcentagem"></div>
            <div class="preco">
                <div class="">
                    <span>Raised:</span>
                    <p class="">$2.500</p>
                </div>
                <div>
                    <span>Gall:</span>
                    <p>$3.500</p>
                </div>
                
            </div>
        </div>
    </div>
    <div class="bord">
        <div class="icon zh-ms-72">
            <h2 class="">Categoria</h2>
            <ul>

                <li class="borda"><i class=" fa-sharp fa-solid fa-globe"></i></li>
                <li class="borda"> <i class="fa-solid fa-graduation-cap"></i></li>
                <li class="borda"><i class="fa-solid fa-masks-theater"></i></li>
                <li class="borda"> <i class="fa-solid fa-paw"></i></li>
                <li class="borda"> <i class="fa-solid fa-baby"></i></li>
            </ul>
            <ul class="zh-fs-8 zh-p-0">
                <li class="">All</li>
                <li class="">Educação</li>
                <li class="">Cultura</li>
                <li class="">Animais</li>
                <li class="">Crianças</li>
            </ul>
        </div>
        <div class="grid">
            <div class="grid1">
                <img src="./assets/teste.png" width="250" height="150" alt="">
                <p class="schol">Scholl Reconstruction</p>
                <div class="porcentagem2"></div>
                <div class="">
                    <div class="">
                        <span>Raised:</span>
                        <p class="">$2.500</p>
                    </div>
                    <div>
                        <span>Gall:</span>
                        <p>$3.500</p>
                    </div>
                    
                </div>
            </div>
            <div class="grid1">
                <img src="./assets/teste.png" width="250" height="150" alt="">
                <p class="schol">Scholl Reconstruction</p>
                <div class="porcentagem2"></div>
                <div class="">
                    <div class="">
                        <span>Raised:</span>
                        <p class="">$2.500</p>
                    </div>
                    <div>
                        <span>Gall:</span>
                        <p>$3.500</p>
                    </div>
                    
                </div>
            </div>
            <div class="grid1">
                <img src="./assets/teste.png" width="250" height="150" alt="">
                <p class="schol">Scholl Reconstruction</p>
                <div class="porcentagem2"></div>
                <div class="">
                    <div class="">
                        <span>Raised:</span>
                        <p class="">$2.500</p>
                    </div>
                    <div>
                        <span>Gall:</span>
                        <p>$3.500</p>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
