<div class="content">
  <div class="text">
      <span>Seu apoio faz a diferença!</span>
      <h1>contribua aqui</h1>
      <span>O poder da comunidade financeira.</span>
      <div class="zh-mt-40">
          <p>Ajudamos mais de 3.500 projetos e causas. De
           o pontapé inicial em sua ideia e inicie projetos 
           incríveis.</p>
           <button class="btn zh-mt-20">começe hoje</button>
      </div>
  </div>
  <img src="./assets/teste.png" width="450" alt="icone de mão com coração">
</div>
