.content {
    display: flex;
    background-image: url('../../../../assets/kkajsd.png');
    padding: 80px;
}

.content span {
    font-size: 32px;
}

h1 {
    font-size: 90px;
    margin: 0;
}

.text {
    margin-top: 80px;

}

p {
    width: 500px;
    font-size: 15px;
}

.btn {
    padding: 5px 48px;

}